/* Componentes */
.container {
box-sizing: border-box;
max-width: 1760px;
padding-left: 20px;
padding-right: 20px;
margin-left: auto;
margin-right: auto;
}
.center {
margin: auto;
text-align: center;
}