section.parallax-2 {
width: 100%;
padding-top: 200px;
padding-bottom: 200px;
background-image: url('../img/parallax-imagem3.jpg');
}
.cafe {
background: var(--cor-p3);
max-width: 341px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
}
