.rodape-bg {
background: var(--cor-13);
}
.rodape {
width: 100%;
height: 168px;
}
.rodape p{
height: 168px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.seta{
position: relative;
}
.seta img{
top: -32px;
right: 45px;
position: absolute;
}